<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form method="post" action="/add">
    <ul>
      <li>name: <input type="text" name="name"></li>
      <li>age: <input type="number" name="age"></li>
      <li>password: <input type="password" name="password"></li>
      <li>hobbies: <label>badminton<input type="checkbox" name="hobbies"
            value="badminton"></label><label>vdogame<input type="checkbox" name="hobbies" value="vdogame"></label><label>swing<input
            type="checkbox" name="hobbies" name="swing"></label></li>
    </ul>
    <button type="submit">add</button>
  </form>
</body>

</html>